.button {
	padding: 8px 28px;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: 0.36px;

	background-color: $white;
	border-radius: 4px;
	border-width: 1px;
	box-shadow: 6px 6px 0px 0px $black;
	cursor: pointer;

  transition: 0.2s;

	&:hover {
		background-color: $yellow;
		box-shadow: none;
		opacity: 1;
		transform: translate(6px, 6px);
	}

	&:active {
		opacity: 0.5;
	}

	@media (max-width: $tablet-width) {
		padding: 6px 25px;
	}
}

.button--yellow {
	font-family: $secondary-font;
	color: $black;

	background-color: $yellow;
	box-shadow: none;

	transition: background-color 0.4s ease-in-out;

	&:hover {
		background-color: $white;

		transform: translate(0, 0);
	}

	&:focus {
		background-color: $white;
	}

	
}

.button--hero {
	position: relative;

	margin: 0 0 114px 0;
	padding: 13px 82px 13px 51px;

	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 43px;
		transform: translateY(-50%);

		width: 32px;
		height: 12px;

		background-image: url("../../img/icons/arrow_right.svg");
		background-repeat: no-repeat;
		background-position-x: -8px;

		transition: background-position-x 0.4s ease-in-out;
	}

	&:hover::before,
	&:focus-visible::before {
		background-position-x: 0;
	}
	
	@media (max-width: $tablet-width) {
		margin: 0;
	}
}

.button-hired {
	padding: 10px 57px;

	@media (max-width: $mobile-width) {
		margin: 0 auto;
	}

	&:focus-visible {
		outline: 0;
	}
}

.button--cta {
	color: $black;

	background-color: $yellow;
	border: 2px solid $black;

	@media (max-width: $mobile-width) {
		text-align: center;
	}

	&:hover {
		background-color: $white;
	}
}

.button--trans {
	position: relative;

	color: $black;

	background-color: $transparent;
	border: 2px solid $black;
	box-shadow: none;
	
	@media (max-width: $mobile-width) {
		text-align: center;
	}

	&::after {
		content: "";
		position: absolute;
		top: 4px;
    left: 4px;
		width: 102%;
    height: 111%;

    border: 2px solid $black;
    border-radius: 4px;

		transition: display 0.2s;
	}

	&:hover::after {
		display: none;
	}
}

.button--footer {
	padding: 13px 23px 13px 23px;

	background-color: $white;

	@media (max-width: $tablet-width) {
		flex-shrink: 0;
	}

	&:hover {
		background-color: $yellow;

		transform: translate(0, 0);
	}
}