.hired {
	color: $white;

	background-color: $black;
}

.hired__header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 148px 0 0 0;
	margin: 0 55px 70px 55px;

	@media (max-width: $tablet-width) {
		padding: 100px 0 0 0;
    margin: 0 20px 70px 20px;
	}

	@media (max-width: $mobile-width) {
		flex-wrap: wrap;
		padding: 50px 0 0 0;
    margin: 0 0 70px 0;
	}
}

.hired__title {
	max-width: 400px;
	margin: 0;

	font-family: $secondary-font;
	font-size: 56px;
	line-height: 1.1;
	font-weight: normal;
	letter-spacing: 2.2px;

	@media (max-width: $mobile-width) {
		margin: 0 0 15px 0;

		font-size: 38px;
		text-align: center;
	}
}

.hired__list {
	display: flex;
	justify-content: space-between;
	gap: 45px;
	margin: 0 55px;
	padding: 0 0 158px 0;

	list-style: none;

	@media (max-width: $tablet-width) {
		gap: 30px;
		padding: 0 0 100px 0;
    margin: 0 20px 0 20px;
	}

	@media (max-width: $mobile-width) {
		flex-direction: column;
		gap: 45px;
		padding: 0 0 50px 0;
	}
}

.hired__list-item {
	width: 33%;
	max-width: 310px;

	@media (max-width: $tablet-width) {
		display: grid;
    grid-template-rows: 162px 1fr;
	}

	@media (max-width: $mobile-width) {
		width: 100%;
		grid-template-rows: auto;

		text-align: center;
	}
}

.hired__item-title {
	position: relative;

	margin: 0 0 36px 0;
	padding: 76px 0 0 0;

	font-family: $secondary-font;
	font-size: 24px;
	line-height: 1;
	letter-spacing: 0.7px;

	@media (max-width: $mobile-width) {
		margin: 0 0 20px 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 60px;
		height: 60px;

		@media (max-width: $mobile-width) {
			left: 50%;
			transform: translateX(-50%);

			margin: 0 0 20px 0;
		}
	}

	&--apply::before {
		background-image: image-set(
			url("../img/hired-human@1x.webp") type("image/webp") 1x,
			url("../img/hired-human@2x.webp") type("image/webp") 2x,
			url("../img/hired-human@1x.png") type("image/png") 1x,
			url("../img/hired-human@2x.png") type("image/png") 2x
		);
		background-size: cover;
	}

	&--instantly::before {
		background-image: image-set(
			url("../img/hired-bubble@1x.webp") type("image/webp") 1x,
			url("../img/hired-bubble@2x.webp") type("image/webp") 2x,
			url("../img/hired-bubble@1x.png") type("image/png") 1x,
			url("../img/hired-bubble@2x.png") type("image/png") 2x
		);
		background-size: cover;
	}

	&--real::before {
		background-image: image-set(
			url("../img/hired-feedback@1x.webp") type("image/webp") 1x,
			url("../img/hired-feedback@2x.webp") type("image/webp") 2x,
			url("../img/hired-feedback@1x.png") type("image/png") 1x,
			url("../img/hired-feedback@2x.png") type("image/png") 2x
		);
		background-size: cover;
	}
}

.hired__item-text {
	font-size: 16px;
	line-height: 1.5;

	@media (max-width: $tablet-width) {
		margin: 0;
	}
}