//Viewports
$mobile-width: 767px;
$tablet-width: 1199px;

//Fonts
$primary-font: "WorkSans", "Arial", sans-serif;
$secondary-font: "Roboto", "Arial", sans-serif;

//colors
$transparent: transparent;
$white: #ffffff;
$black: #000000;
$light-bg: #fefcf8;
$yellow: #eafa35;
$scroll-gray: #d3d3d3;
$scroll-hover-gray: #eaeaea;
$border-gray: #e6e6e6;
$faq-bg-gray: #262626;
$input-bg-gray: #191919;
$start-bg: #daccff;